@import '../../Globalstyle/mixins';
.login__wrapper {
    // position: relative;
}
.login__container {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 4;
    transform: translateX(-50%) translateY(-50%);
    border: 1px solid var(--border-color);
    background-color: var(--main-color2);
    padding: 20px 32px;
    @include Responsive(phone) {
        width: 90%;
    }
}
.login__overlay {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #0d0d0dbd;
    width: 100%;
    height: 100vh;
}
.form__close {
    display: block;
    margin-left: auto;
    background-color: #ee4266;
    color: var(--main-color2);
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #ee4266;
    &:hover {
        background-color: transparent;
        color: #ee4266;
        
    }
}
.form__icon {
    width: 16px;
    height: 16px;
    text-align: center;
}
.form__title {
    text-align: center;
    margin-bottom: 20px;
}


.form__input {
    position: relative;
    margin-bottom: 16px;
    width: 100%;
    input {
        width: 100%;
        padding: 8px 12px 8px 32px;
        border: 1px solid var(--border-color);
    }
}
.form__input__icon {
    position: absolute;
    top: 50%;
    left: 11px;
    transform: translateY(-50%);
    font-size: 10px;
}
.form__forgot {
    display: block;
    text-align: right;
    font-size: 15px;
    &:hover {
        color: #ee4266;
    }
}
.form__btn {
    width: 100%;
    text-align: center;
    margin-top: 28px;
    background-color: var(--main-color);
    color: var(--main-color2);
    padding: 10px 0;
}
.login_auth {
    padding: 15px 0;
}
.register_link {
    text-decoration: underline;
    &:hover {
        color: #ee4266;
    }
}