@import "../../components/Globalstyle/mixins";
.cart__wrapper {
  margin: var(--header-height) auto 0 auto;
  width: 80%;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px 20px;
  input {
    width: 50px;
  }
  .product__desc__quantity {
    margin-bottom: 0;
  } 
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
.item__img {
  width: 70px;
  img {
    width: 100%;
  }
}

.item__action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.action__btn {
  background-color: var(--secondary-color);
  color: var(--main-color2);
  width: 20px;
  height: 20px;
  border-radius: 2px;
}

.product__desc__quantity {
  display: flex;
  justify-content: center;
  width: 150px;
  margin-bottom: 20px;
  border: 1px solid var(--border-color);
  button {
    text-align: center;
    padding: 0 7px;
  }
  input {
    width: 70%;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    text-align: center;
    padding: 10px 0;
  }
}
.checkout__btn {
  text-align: right;

  margin-top: 20px;
  &__area {
    background-color: var(--secondary-color);
    color: var(--main-color2);
    padding: 5px 10px;
    border-radius: 4px;
    opacity: 0.9;
    transition: 0.4s;
    &:hover {
      opacity: 1;
    }
  }
}
.cart__phone {
  display: none;
  @include Responsive(phone) {
    display: block;
  }
  .product__desc__quantity {
    margin: 0;
  }
  .item__img {
    width: 30%;
    padding-right: 10px;
    img {
      width: 100%;
    }
  }
  .item__btn {
    padding: 0 6px;
  }
  .cart__total {
    text-align: right;
  }
}
.cart__pc {
  @include Responsive(phone) {
    display: none;
  }
}
.cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item__info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item__quantity {
  width: 65%;
}
.item__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}